#root {
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}
.card {
  padding: 2em;
}
section{
  border: 1px solid;
  width: 400px;
  margin: auto;
}
h2{
  color: black;
}
.section{
  margin: 10px;
  /* gap: 1px;  usar em resp cell*/
  display: flex;
}
.p{
  display: flex;
  align-items: center;
  justify-content: justify;
  padding: 5px;
  padding-top: 100px;
  padding-bottom: 360px;
}
hr{
  margin: 5px;
}
.divs{
  display: flex;
  gap: 10px;
  align-items: center;
  align-items: center;
  justify-content: space-evenly;

}

.divs div{
 
  align-items: baseline;
  margin-bottom: 40px;
  gap: 10px;
}
.about{
  height: 100vh;
}
a{
  color: black;
  text-decoration: none;
}
.dev1{
  
}
.dev{
  margin-top: -50px;
  margin-bottom: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Section1, .Section2{
  visibility: hidden;
}
